@import "../../scss/styles.scss";

.nav-app {
  padding: calc($padding / 2) 0;
  background-color: var(--bg-clr1);
  width: 100%;
  .container {
    position: relative;
    @include flexVertical(center);

    .menu-nav {
      width: 30px;
      height: 25px;
      @include flexHorizontal();
      cursor: pointer;
      &:hover span {
        background: lighten(red, 20%);
      }
      span {
        pointer-events: none;
        width: 100%;
        height: 3px;
        background: var(--bg-clr3);
        border-radius: $br-8;
      }
    }

    ul.nav-list {
      @include flexVertical(center);
      flex-basis: auto;
      // background: var(--bg-clr2);
      // border-radius: calc($br-8 * 4);
      // overflow: hidden;

      @include md {
        position: relative;
        background: var(--bg-clr2);
        position: absolute;
        @include flexHorizontal(initial, flex-start);
        top: calc(70px + 1rem);
        left: 1rem;
        width: 200px;
        height: calc(100vh - 76px - 80px);
        border-radius: calc($br-8 * 1.5);
        padding: $padding calc($padding / 2);
        z-index: 999;
      }

      li:not(:last-child) {
        @include md {
          margin-bottom: calc($padding * 2);
        }
      }

      li a {
        font-size: 15px;
        font-weight: 500;
        transition: .2s;
        padding: calc($padding / 2) $padding;
        @include flexVertical(center, flex-start);

        @include md {
          background-color: var(--bg-clr2);
          padding: calc($padding / 2) $padding;
          border-radius: $br-8;
        }

        &:hover {
          color: var(--txt-clr2);

          @include md {
            background-color: var(--bg-clr1);
          }
        }

        &:hover svg path {
          fill: var(--txt-clr2);
        }
        
        span:first-child {
          width: 24px;
          aspect-ratio: 1/1;
          margin-right: calc($padding / 2);
          
          svg path {
            transition: .1s;
          }
        }
      }
    }
  }
}